DeleteAllPCOSermonSeries.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0dbf39f6-b963-4a00-bf4c-923430c9981e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "469fab4e-de6c-4793-8284-1030b42641c2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78289ced-9432-4066-b605-d4344b6d1c1f",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        80
      ],
      "id": "d59413d0-88ce-48a0-b83b-0311b15f1bff",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "publishing",
        "operation": "getManySeries",
        "returnAll": true
      },
      "type": "n8n-nodes-planning-center.planningCenter",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "a3808806-24eb-4fdf-a806-3fc270757d3f",
      "name": "Get many series",
      "alwaysOutputData": true,
      "credentials": {
        "planningCenterOAuth2Api": {
          "id": "xm4x02y4E7ffCKIT",
          "name": "Planning Center account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $json.links.self }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "planningCenterOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        64
      ],
      "id": "5a3394f1-f722-45d1-b9f3-7761a3c14d40",
      "name": "Delete Series",
      "credentials": {
        "planningCenterOAuth2Api": {
          "id": "xm4x02y4E7ffCKIT",
          "name": "Planning Center account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete Series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many series": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Series": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c2ee72a0e88923bc637975f09b9bf63e684e7277868acf88bb223cf6cdac4ef"
  }
}
