workflows/DeleteAllPCOSermonEpisodes.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "id": "0368d176-3e8f-453a-91a9-d106fb8e3e26",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $json.links.self }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "planningCenterOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        168
      ],
      "id": "69c149e3-d2c5-4f1d-aa8d-96dc213724e6",
      "name": "Delete Episode",
      "credentials": {
        "planningCenterOAuth2Api": {
          "id": "xm4x02y4E7ffCKIT",
          "name": "Planning Center account"
        }
      }
    },
    {
      "parameters": {
        "resource": "publishing",
        "operation": "getManyEpisodes",
        "returnAll": true
      },
      "type": "n8n-nodes-planning-center.planningCenter",
      "typeVersion": 1,
      "position": [
        224,
        96
      ],
      "id": "74a202e5-1fba-4fe3-adde-674e2c717512",
      "name": "Get Episodes",
      "alwaysOutputData": true,
      "credentials": {
        "planningCenterOAuth2Api": {
          "id": "xm4x02y4E7ffCKIT",
          "name": "Planning Center account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        96
      ],
      "id": "5ef6de3b-48b1-4517-9024-95ffc231af6b",
      "name": "Loop Objects"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78289ced-9432-4066-b605-d4344b6d1c1f",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        96
      ],
      "id": "eb1a5190-aee6-4534-90dc-d19ca5bd8667",
      "name": "If Episode Exists"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mTFh8Bp4N7hrB9G6",
          "mode": "list",
          "cachedResultName": "Push to Ntfy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "=Delete PCO Episodes Execution Complete – {{ $now.format('yyyy-MM-dd' | t) }}"
          },
          "matchingColumns": [
            "message"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        -96
      ],
      "id": "9c7bb49d-3fbe-4391-bc11-1f16a6c8c1ac",
      "name": "Ntfy – End",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9jnWLGeQN5qW9zs2",
          "mode": "list",
          "cachedResultName": "Message to Discord Webhook"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "=Delete PCO Episodes Execution Complete – {{ $now.format('yyyy-MM-dd' | t) }}"
          },
          "matchingColumns": [
            "message"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        -96
      ],
      "id": "09e62fc6-c255-409c-a8c1-855e7f9f5c70",
      "name": "Discord Webhook – End",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Episodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Episode": {
      "main": [
        [
          {
            "node": "Loop Objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Episodes": {
      "main": [
        [
          {
            "node": "Loop Objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Objects": {
      "main": [
        [
          {
            "node": "Ntfy – End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Episode Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Episode Exists": {
      "main": [
        [
          {
            "node": "Delete Episode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ntfy – End": {
      "main": [
        [
          {
            "node": "Discord Webhook – End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c2ee72a0e88923bc637975f09b9bf63e684e7277868acf88bb223cf6cdac4ef"
  }
}
